@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300&display=swap');

*>*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
:root{
  --color-green: rgb(34 197 94);
  --color-red:rgb(185 28 28);
}
.App {
  text-align: center;
  padding: 1em 0em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg-green{
  background-color: var(--color-green);
}
.bg-red{
  background-color: var(--color-red);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.chartcls{
  position: relative;
}
 .totalcls{
  position: absolute;

  top:35%;
 
  left: 0;
  right: 0;
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-input{
  @apply mt-2 block w-full py-3 px-2 border border-gray-400 sm:text-sm outline-none rounded-md bg-white text-black
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */